<div class="container">
  <br>
  <div class="row">
    <div class="col-sm" *ngFor="let product of products; let productId = index">
        <div class="card">
          <img src="./assets/img/placeholder-300-22.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">
              {{ product.name }}
            </h4>
            <button class="btn btn-link text-decoration-none" [routerLink]="[productId]">
            <p class="card-text text-left">
              {{ product.description }}
              <br>
                $ {{ product.price }}
            </p>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
